<style>
  body {
      background-color: rgb(51, 51, 51);
      color: darkgray;
      font-family: Arial,Helvetica,sans-serif;
      }

  select {
    background-color: darkgray;
    border-style: inset;
    border-width: 1px;
    
  }

  input {
    border-width: 1px;
    background-color: darkgray;
  }

  button {
    background-color: darkgray;
    border-style: outset;
    border-width: 1px;
  }

  table {
    color: rgb(8, 8, 8);
    margin: 4px;
  }
  td, th {
    background-color:rgb(114, 114, 114);
    padding: 5px;
  } 

  p {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    background: rgb(114,114,114);
    margin: 2px;
    padding: 8px;
  }
  
  #item1 { grid-area: a1; }
  #item2 { grid-area: a2; }
  #item3 { grid-area: a3; }
  #item4 { grid-area: a4; }
  #item5 { grid-area: a5; }
  #item6 { grid-area: a6; }

  form {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 10em 20em;
    margin: 2px;
    color:rgb(8, 8, 8);
  }
 
  </style>



<form>
  <table>
    <thead>
        <th>ID</th>
        <th>Nimi</th>
        <th>Rooli</th>
        <th>Salasana</th>
    </thead>
    <tbody>
      {{#each kayttaja}}
        <tr>
          <td>{{this.idKAYTTAJA}}</td>
          <td>{{this.kayttaja_nimi}}</td>
          <td>{{this.kayttaja_rooli}}</td>
          <td>{{this.salasana}}</td>
          <!--<td><button id="buttonDel" name="poista">Poista</button></td>-->
        </tr>
      {{/each}}
    </tbody>
  </table>
  
</form>

