body {
    background-color: rgb(51, 51, 51);
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav article ads"
    "footer footer footer";
    grid-template-rows: 60px 40% 60px;
    grid-template-columns: 20% 1fr 20%;
    grid-gap: 10px;
    height: 50vh;
    margin: 10px;
    }

header, footer, article, nav, div {
    padding: 20px;
    background: rgb(167, 167, 167);
    border-style: groove;
    border-color: dimgrey;
    }

article {
    grid-template-areas: "p1 p2";
    grid-template-columns: 50%;
    display: grid;
    grid: subgrid;
    grid-gap: 1%;
}

div {
    grid-template-areas: "p3" "p4";
    grid-template-rows: 50%;
    display: grid;
    grid: subgrid;
    grid-gap: 1%;
}

p {
    margin: 1px;
    padding: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(100, 100, 100);
}

#otsikko {
  grid-area: header;
}
#info {
  grid-area: footer;
}
#teksti { 
  grid-area: article;
  }
#link { 
  grid-area: nav; 
  }
#mainos { 
  grid-area: ads; 
  }