<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/nav.css">
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<div class="navbar">
  <a href="/" class="active">Home</a>
  <a href="/lisaa">Lisää</a>
  <a href="/kirjaudu" class="right">Link</a>
</div>

<div class="row">
  <div class="side">
    <form>
      <p><label for="nimi">Nimi</label></p>
      <p><input type="text" name="nimi"/></p>
      <p>
        <select name="kategoria">
            {{#each kateg}}
            <option value="{{this.kategoria}}">{{this.kategoria}}</option>
            {{/each}}
          </select>
      </p>  

      <p><button id="buttonHae">Hae</button></p>
    </form>
  </div>
  <div class="main">
    <div class="tuotteet">
      {{#each tuote}}
      <form action="/tiedot/{{this.idTUOTE}}">
        <div class="card">
        <div class="fakeimg" style="height:200px; width: 200px;"></div>
        <input class="btn" type="submit" value="{{this.tuote_nimi}}">
      </div>
      </form>
      
    {{/each}}
    </div>
    
  </div>
</div>



</body>
</html>