<link rel="stylesheet" href="css/kirjaudu.css">
<link rel="stylesheet" href="css/nav.css">

<div class="navbar">
  <a href="/" class="active">Home</a>
  <a href="/lisaa">Lisää</a>
  <a href="/kirjaudu" class="right">Kirjaudu</a>
</div>

<form id="kayttajatiedot" action="/kirjaudu" method="POST" >
  <p id = "item1">Kirjaudu sisään</p>
  <p id = "item2"><label for="kayttaja_nimi">Käyttäjänimi</label></p>
  <p id = "item3"><input type="text" name="kayttaja_nimi"/></p>
  <!--
  <p id = "item3">
    <select name="kayttaja">
        {{#each kaytn}}
        <option value="{{this.kayttaja_nimi}}">{{this.kayttaja_nimi}}</option>
        {{/each}}
      </select>
  </p>
  -->
  <p id = "item4"><label for="salasana">Salasana</label></p>
  <p id = "item5"><input type="text" name="salasana"/></p>    
  
  <p id = "item7"><input type="submit"></input></p>
  <p id = "item8"><label for ="kirjatunut_info">status</p>
</form>

