<link rel="stylesheet" href="css/kirjaudu.css">
<link rel="stylesheet" href="css/nav.css">

<div class="navbar">
  <a href="/" class="active">Home</a>
  <a href="/lisaa">Lisää</a>
  <a href="#">Link</a>
  <a href="#" class="right">Kirjaudu</a>
</div>

<form action="/lisaa" method="POST" >
  <p id = "item1">Kirjaudu sisään</p>
  <p id = "item2"><label for="kayttaja_nimi">Käyttäjänimi</label></p>
  <p id = "item3"><input type="text" name="kayttaja_nimi"/></p>
  <p id = "item4"><label for="salasana">Salasana</label></p>
  <p id = "item5"><input type="text" name="salasana"/></p>    
  <p id = "item7"></p>
  
  <p id = "item14"><input type="Submit" input name="form" type="submit" value="Kirjaudu"/></input></p>
</form>

