* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    height: 100vh;
    overflow-y: hidden;
  }
  
  
  
  /* Column container */
  .row {  
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    height: 100%;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%;
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    height: auto;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; 
    flex: 70%;
    background-color: white;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .tuotteet {
    padding: 20px;
    display: flex;  
    flex-wrap: wrap;
  }
  
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      max-height: 241px;
      margin: 20px;
  }
  
  .btn {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 15px;
      max-width: 200px;
      text-overflow: ellipsis;
    }

    #nInput {
      width: 100%;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    #sInput {
      width: 100%;
      
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      
    }

    #buttonHae {
      width: 100%;
      background-color: #838383;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    #buttonHae:hover {
      background-color: rgb(151, 151, 151);
    }
   
  
    .card .btn:hover {
      opacity: 0.7;
      overflow: visible;
      white-space: unset;
    }
  
    ::-webkit-scrollbar {
      width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      opacity: 0;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: rgb(78, 78, 78); 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }

    
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 723px) {
    .row {   
      flex-direction: column;
    }
  }
 