.Header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100vw;
  display: grid;
  grid-template-areas: "x nav";

  background-color: #242424;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.Logo {
  grid-area: logo;
  height: 70px;
}

.Nav {
  display: grid;
  grid-area: nav;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
}
.Nav a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
}
.Nav a:hover {
  transform: scale(1.1);
}
 


.Valikko {
  color: #fff;
  display: none;
  grid-area: valikko;
  margin: 0 20px 0 12px;
  padding: 0;
  justify-self: flex-start;
  font-size: 35px;
  border: none;
  background: none;
  outline: none;
  transition: 0.1s;
}
.Valikko:active {
  transform: scale(1.2);
}

.Haku {
  color: #fff;
  display: none;
  grid-area: valikko;
  margin: 0 20px 0 50px;
  padding: 0;
  justify-self: flex-start;
  font-size: 35px;
  border: none;
  background: none;
  outline: none;
  transition: 0.1s;
}

@media (max-width: 600px) {
  .Header {
    grid-template-areas: "valikko x" "nav nav";
  }
  .Nav {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: none;
    grid-row-gap: 20px;

    padding: 30px 0 30px;
    background: rgba(19, 19, 19, 0.95);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .Valikko {
    display: inline;
  }
  .Haku {
    display: inline;
  }
}

